@charset "UTF-8";

/*
class = .classe
id = #id
*/

.containerform{
    margin: 50;
    width: auto;
    height: auto;
}

.textCriar, input{
    margin: 5;
}

.containerCriar0{
    align-content: flex-end;
}